@model Invoice.Model.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left;">
            Invoice ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @if (Model.Date != DateTime.MinValue)
            {
                @Html.DisplayFor(model => model.Date)
            }
        </dd>
        <dt style="text-align: left;">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Item ID
        </th>
        <th>
            Article name
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items.OrderBy(i => i.LineId))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }

</table>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Create Item", "CreateItem") |
    @Html.ActionLink("Back to List", "Index")
</p>
